/*Global*/

@mixin Flex($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

/* Navbar */

ul{
    @include Flex(row);
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 0 0 1rem 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(31, 31, 31);
}

ul li{
    margin: 1rem 3rem 0 3rem;
    list-style: none;
    font-weight: 600;
}

ul li a{
    color: white;
}

ul li a:hover{
    color: rgb(228, 17, 70);
}

.taken-by{
    color: rgb(163, 10, 99);
    font-size: 1.6rem;
}


/* Picture */

#picture{
    @include Flex(column);
    padding-top: 3.2rem;
    h1{
        text-align: center;
        font-size: 2.4rem;
        .pic-span{
            color: rgb(163, 10, 99);
        }
    }
    .pic-pic{
        margin-top: 2vh;
        max-width: 30%;
        border: 3px solid black;
        border-radius: 2%;
    }
    .photographer{
        padding-top: 2vh;
        text-decoration: underline;
        .pic-span{
            color: rgb(163, 10, 99);
        }
    }
}

/* Fetch Buttons */

.buttons{
    @include Flex(row);
    padding-top: 3vh;
    padding-bottom: 3vh ;
    button{
        margin: 0 3rem;
        padding: 1rem;
        outline: none;
        border: 3px solid black;
        background: rgb(163, 10, 99);
        color: white;
        font-weight: 700;
        cursor: pointer;
    }
    button:hover{
        color: black;
        background: rgb(252, 150, 209);
    }
}

/* Oportunity Photos */

.oportunity{
    @include Flex(column);
    margin-top: 4vh;
    p{
        margin-top: 1vh;
    }
    img{
        margin-top: 2vh;
        width: 32%;
    }

}

/* Curiosity Photos */

.curiosity{
    @include Flex(column);
    margin-top: 4vh;
    p{
        margin-top: 1vh;
    }
    img{
        margin-top: 2vh;
        width: 37%;
    }
}

/* Spirit Photos */

.spirit{
    @include Flex(column);
    margin-top: 4vh;
    p{
        margin-top: 1vh;
    }
    img{
        margin-top: 2vh;
        width: 37%;
    }
}
